          /*Link Styling*/
	       a {
                   background-color:#f4f4f4;
                   font-weight: bold;
                   color: #8FBC8F;
                   font-size:28px;
			 border:2px solid black;
		       padding:10px;
			 padding-right:25px;
			 padding-left:25px;
                   font-size:2vw;


                     
             }

             a:hover {
			 color: #FFFFFF;
			 background-color: #8FBC8F;
			 padding: 15px;
			 padding-right:30px;
			 padding-left:30px;
			 border-radius: 10px;

		       
             }

          /*Paragraph Styling*/

		.B {
			font-size: 20px;
			padding:0px;
			font-family:Century Gothic;
			font-weight: bold;
			text-align:center;
			font-size:2vw;

		}

          /*Div Styling*/

		div {
			margin-left:12px;
			border-style:solid;
			border-width:1px;
			border-color:black;
			background-color:white;
        		width:32%;
			
			
			
		}
  
		.container {
 			 display: flex;

             }

          /*Paragraph Styling*/

		.para {

			font-size: 18px;
			padding-right:15px;
			padding-left:15px;
			font-family:Century Gothic;
			text-align:justify;
			font-size:1.5vw;

		}


          /*Video Styling*/

		video {

			padding:0px;
			margin-left:21.5%;
			margin-right:21.5%;
			display:block;
                  margin:auto;


		}

          /*Video Styling*/

	

